### **Theory Questions**

1.What are data structures, and why are they important?

Ans: A data structure is a specialized way of organizing, storing, and managing data to perform operations efficiently. Data structures define the relationship between data and the operations that can be performed on them.

These data structures are important because:
1. Efficiency
2. Scalability
3. Memory Management
4. Foundation of Algorithms

2.Explain the difference between mutable and immutable data types with examples.

Ans:
Mutable:
The objects that can be changed after creation. The modification happens in place without creating a new object.
Examples: List, Dictionary, Sets, etc.

Immutable:
The objects that cannot be changed after creation. Any modification results in the creation of a new object.
Examples: Tuples, Strings, Frozen sets, etc.

3.What are the main differences between lists and tuples in Python?

Ans:

1. List is mutable whereas tuple is immutable.
2. List slower in execution whereas tuple is faster in execution.
3. List uses more memory whereas tuple uses less memory.
4. List has slower iteration whereas tuple has more iteration.

4. Describe how dictionaries store data.

Ans: Python uses a hash table and an array to store dictionary items.

5. Why might you use a set instead of a list in Python?

Ans:

* Sets store unique elements (no duplicates).
* Faster lookups (O(1)) compared to lists (O(n)).

6. What is a string in Python, and how is it different from a list?

Ans: A string (str) is an immutable sequence of characters, while a list (list) is a mutable collection of elements.

7.  How do tuples ensure data integrity in Python?

Ans: Tuples are immutable, meaning their values cannot be changed after creation. This ensures data integrity by preventing accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans: A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables for fast key-based lookups (O(1)).

9. Can lists contain different data types in Python?

Ans: Yes, lists in Python can store elements of different types.

10. Explain why strings are immutable in Python.

Ans: Strings are immutable to improve performance, security, and memory efficiency. Any modification creates a new string object instead of changing the existing one.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans:

* Fast lookups (O(1)) vs. list search (O(n)).
* Key-value storage (better organization).
* Efficient data retrieval.

12.  Describe a scenario where using a tuple would be preferable over a list.

Ans: Tuples are best for fixed data like GPS coordinates, configuration settings, or database records.

13.  How do sets handle duplicate values in Python?

Ans: Sets automatically remove duplicates when elements are added.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans:
* Lists: O(n) time complexity (linear search).
* Dictionaries: O(1) time complexity (hash table lookup).

15. Can you modify the elements of a tuple? Explain why or why not.

Ans: No, tuples are immutable, so elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case.

Ans: A nested dictionary is a dictionary inside another dictionary, useful for storing hierarchical data.

students = {
    "Alice": {"age": 25, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

print(students["Alice"]["grade"])

17. Describe the time complexity of accessing elements in a dictionary.

Ans:

* Average case: O(1) (direct key access).
* Worst case: O(n) (if hash collisions occur).

18. In what situations are lists preferred over dictionaries?

Ans:

* When order matters.
* When you need indexed access (list[i]).
* When working with sequential data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Before Python 3.7, dictionaries did not maintain insertion order. From Python 3.7+, they do. Retrieval is based on hashing, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:

* In list the access of elements is index-based whereas in dictionary it is key-based.
* The access time for list is O(n) whereas for dictionary is O(1).

### **Practical Questions**

In [1]:
#1. Write a code to create a string with your name and print it.
s = input("Enter your name: ")
print(f"Name is: {s}")

Enter your name: Hrishav P
Name is: Hrishav P

In [2]:
#2. Write a code to find the length of the string "Hello World".
s = "Hello World"
print(s)
print(f"Length of the string is: {len(s)}")

Hello World
Length of the string is: 11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s)
print(f"First 3 characters are: {s[:3]}")

Python Programming
First 3 characters are: Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s)
print(f"Uppercase of the string is: {s.upper()}")

hello
Uppercase of the string is: HELLO

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
print(f"Before replacing: {s}")
new_s = s.replace("apple", "orange")
print(f"After replacing: {new_s}")

Before replacing: I like apple
After replacing: I like orange

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = list(range(1, 6))
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [12]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [14]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [15]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [16]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
def check_fruit(fruit_tuple, fruit_to_check="kiwi"):
    return fruit_to_check in fruit_tuple

fruit_tuple = tuple(input("Enter three fruits separated by space: ").split())

print(f"Fruits are: {fruit_tuple}")

if check_fruit(fruit_tuple):
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple!")

Enter three fruits separated by space: apple
Fruits are: ('apple',)
Kiwi is not in the tuple!

In [17]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [18]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [20]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.discard(4)
print(my_set)

{1, 2, 3}

In [21]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [22]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [23]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Getting user input
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")

person = {
    "name": name,
    "age": age,
    "city": city
}

print(person)

Enter your name: Hrishav
Enter your age: 21
Enter your city: Hyd
{'name': 'Hrishav', 'age': 21, 'city': 'Hyd'}

In [24]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [26]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [27]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [28]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list_values = input("Enter list values separated by spaces: ").split()
tuple_values = tuple(input("Enter tuple values separated by spaces: ").split())
key1 = input("Enter first key: ")
value1 = input("Enter first value: ")
key2 = input("Enter second key: ")
value2 = input("Enter second value: ")
key3 = input("Enter third key: ")
value3 = input("Enter third value: ")
dictionary = {
    key1: value1,
    key2: value2,
    key3: value3
}

print("\nList:", list_values)
print("Tuple:", tuple_values)
print("Dictionary:", dictionary)

Enter list values separated by spaces: 10 20 30
Enter tuple values separated by spaces: 11 78 98
Enter first key: name
Enter first value: bob
Enter second key: age
Enter second value: 32
Enter third key: gender
Enter third value: male

List: ['10', '20', '30']
Tuple: ('11', '78', '98')
Dictionary: {'name': 'bob', 'age': '32', 'gender': 'male'}

In [30]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[12, 25, 57, 61, 95]

In [31]:
#28. Write a code to create a list with strings and print the element at the third index.

list_values = input("Enter list values separated by spaces: ").split()

if len(list_values) > 3:
    print("Element at the third index:", list_values[3])
else:
    print("The list does not have enough elements to access index 3.")

Enter list values separated by spaces: hello bye namaste go eat sleep repeat
Element at the third index: go

In [32]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1.copy()
combined_dict.update(dict2)

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
#30. Write a code to convert a list of strings into a set.
string_list = input("Enter a list of strings separated by spaces: ").split()

string_set = set(string_list)

print(string_set)

Enter a list of strings separated by spaces: hello namaste bye go
{'bye', 'go', 'namaste', 'hello'}